<form class="div-width" style="margin-top : 50px;">
    <div style="padding:5px;">
        <div class="text-center">
          <h2>Edit Post</h2>
        </div>
        <div class="selection-title-divider"></div>

        <div class="row" style="margin-top:5px;">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <label>Title</label>
          </div>
          <div class="col-sm-4">
            {{input type="text" class="form-control" value=postObject.title}}
          </div>
          <div class="col-sm-2"></div>
        </div><br>

        <div class="row" style="margin-top:5px;">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <label>Post Body</label>
          </div>
          <div class="col-sm-4">
            {{textarea type="text" class="form-control" rows="10" cols="50" value=postObject.body}}
          </div>
          <div class="col-sm-2"></div>
        </div><br>

        <div class="row" style="margin-top:5px;">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <label>Created Time</label>
          </div>
          <div class="col-sm-4">
            {{input type="text" class="form-control" value=postObject.createdtime disabled=true}}
          </div>
          <div class="col-sm-2"></div>
        </div><br>

        <div class="row" style="margin-top:5px;">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <label>Last Modified</label>
          </div>
          <div class="col-sm-4">
            {{input type="text" class="form-control" value=postObject.modifiedtime disabled=true}}
          </div>
          <div class="col-sm-2"></div>
        </div><br>

        <div class="row" style="margin-top:5px;">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <label>Owner</label>
          </div>
          <div class="col-sm-4">
            {{input type="text" class="form-control" value=postObject.owner disabled=true}}
          </div>
          <div class="col-sm-2"></div>
        </div><br><br>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-success"{{action 'toEditPost' postObject}}>Done</button>
          <button type="button" class="btn btn-outline-warning"  {{action 'toCancelEdit' postObject}}>Cancel</button>
      </div><br><br>
    </div>
</form>

{{yield}}
