<div class="container view-post-container">
  <div class="view-post-header">
    <h4>{{model.title}}</h4>
    <span class="text-muted view-post-owner-name">{{model.owner}}</span>
  </div>
  <hr>
  <div class="view-post-body">
    <p>
      {{model.body}}
    </p>
  </div>
  <div class="view-post-footer text-muted">
    <span class="view-post-utils">
      <LinkTo @route="home" class="btn btn-secondary btn-sm">
        {{inline-svg 'back' class='svg svg-sm'}}
        Back
      </LinkTo>
      &nbsp;
      <LinkTo @route="editpost" @model={{model.id}} class="btn btn-info btn-sm">
        {{inline-svg 'edit' class='svg svg-sm'}}
        Edit Post
      </LinkTo>
    </span>
    <span>Last Modified {{to-date-string model.modifiedtime}}</span>
  </div>
</div>
