<div class="container">
  <div class="div-width div-center text-center profile-width">
    <ul class="list-group" style="margin-top: 60px;">
      <li class="list-group-item"><b>Account Information</b></li>
      <li class="list-group-item list-group-item-success">First Name : {{model.firstName}}</li>
      <li class="list-group-item list-group-item-success">Last Name : {{model.lastName}}</li>
      <li class="list-group-item list-group-item-success">Mobile : {{model.mobile}}</li>
      <li class="list-group-item list-group-item-success">Address : {{model.address}}</li>
      <li class="list-group-item list-group-item-success">Email : {{model.email}}</li>
    </ul><br>
    <LinkTo @route="home" class="btn btn-outline-info">GoBack To Home</LinkTo>
  </div>
</div>
